{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

  <div class="card">
    <h1 class="center">Dashboard</h1>
    <p class="center">You are currently logged in.</p>
    <div class="center">
      <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
    </div>
  </div>

  <div class="card">
    <h2 class="center">Your Info</h2>
    <p>
      <strong>Name:</strong> {{ session['user']['name'] }}<br>
      <strong>Email:</strong> {{ session['user']['email'] }}<br>
      <strong>Role:</strong> {{ "Interviewer" }}
    </p>
  </div>

  <div class="card">

    <h1 class="center">Availability</h1>

    <div id="form"></div>

  </div>

</div>

<script type="text/babel">
  class Grid extends React.Component {
    constructor(props) {
      super(props);
      this.state = { start_date: '', start_time: null, days: 0, hours: 0, maxInt: '', team: '', grid: null };
    }


    componentDidMount() {
      // this.request = $.get(this.props.url, function (result) {
      //     var { start_date, end_date, start_time, end_time } = result;
      //     this.setState({
      //         start_date, end_date, start_time, end_time
      //     });
      // }.bind(this));
      var start_date = '2020-07-01'
      var end_date = '2020-07-05'
      var start_time = 9
      var end_time = 12
      var days = dayjs(end_date).diff(dayjs(start_date), 'day')
      var hours = end_time - start_time
      var grid = Array(hours * 2).fill(0).map(item => Array(days).fill(0))

      this.setState({
        start_date,
        start_time,
        grid,
        days,
        hours,
      });
    }

    componentWillUnmount() {
      // this.request.abort();
    }

    toggle(i1, i2) {
      var { grid } = this.state
      grid[i1][i2] = grid[i1][i2] ? 0 : 1
      this.setState({ grid })
    }

    handleChangeMaxInt(event) {
      this.setState({ maxInt: event.target.value });
    }

    handleChangeTeam(event) {
      this.setState({ team: event.target.value });
    }

    handleSubmit(e) {
      var formData = {}
      var grid = []
      var serializeData = $('#interviewer_form').serialize()
      var decodeURIData = decodeURIComponent(serializeData)
      decodeURIData.split('&').forEach(item => {
        var arr = item.split('=')
        formData[arr[0]] = arr[1]
      })

      for (let index = 0; index < this.state.days; index++) {
        this.state.grid.forEach(item => {
          if (!grid[index]) {
            grid[index] = []
          }
          grid[index].push(item[index])
        })
      }

      const data = {
        ...formData,
        grid
      }
      $.ajax({
        type: "POST",
        url: "/interviewer/update",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify(data),
          success: function (res) {
            window.location.href = "/success/";
            console.log("SUCCESS");
          },
          error: function () {
            console.log("error");
          }
        });
      e.preventDefault();
    }

    render() {
      return (
        <form name="interviewer_form"  id="interviewer_form" onSubmit={e => this.handleSubmit(e)}>
          <label htmlFor="max_int">Maximum number of interviews you can do:</label>
          <p>
            <select name='max_int' value={this.state.maxInt} onChange={e => this.handleChangeMaxInt(e)}>
              <option></option>
              <option value={4}>4</option>
              <option value={5}>5</option>
              <option value={6}>6</option>
              <option value={7}> 7</option >
              <option value={8}> 8</option >
            </select >
          </p >

          <label htmlFor="team">Which team are you on:</label>
          <p>
            <select name='team' value={this.state.team} onChange={e => this.handleChangeTeam(e)}>
              <option></option>
              <option value="Logistics">Transport/Logistics/Food</option>
              <option value="Social/PR">Social/PR</option>
              <option value="Sponsors">Sponsors</option>
              <option value="Website">Website</option>
              <option value="Design">Design</option>
              <option value="Membership">Membership</option>
            </select>
          </p>

          <label htmlFor="time">Time Available (please select all that apply)</label>

          <div class="row">
            <span className="row-cell" key={`row-null`}></span>
            {Array.from({length:this.state.days}).map((o2, i2) => {
              return (
                <span key={`header-${i2}`} className="header-spn">
                  {dayjs(this.state.start_date).add(i2, 'day').format('MMDD')}
                </span>
              )
            })}
          </div>
          {Array.from({ length: this.state.hours * 2 }).map((o1, i1) => {
            return (
              <div key={`${i1}`} class="row">
                <span className="row-cell" key={`row-${i1}`}>
                  {i1 % 2 ? '' : this.state.start_time + i1 / 2 + ":00"}
                </span>
                {Array.from({ length: this.state.days }).map((o2, i2) => {
                  return (<span className={this.state.grid[i1][i2] ? 'cell selected' : 'cell'} key={`${i1}-${i2}`} onClick={() => this.toggle(i1, i2)}></span>)
                })}
              </div>
            )
          })}
          <p className="error error--hidden"></p>
          <input type="submit" value="Submit" className="btn" />
        </form>
      )
    }
  };

  ReactDOM.render(<Grid url="https://api.github.com/users/octocat/gists" />, document.getElementById('form'));
</script>

{% endblock %}