{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center">Dashboard</h1>
      <p class="center"><br>You are currently logged in.<br><br></p>
      <div class="center">
        <a href="/user/signout-schedule" class="btn btn--secondary">Sign Out</a>
      </div>
    </div>

    <div class="card">
      <h1 class="center">Scheduled Interview</h1>
      <p><strong>Name:</strong> {{ session['user']['name'] }}</p>
      <p><strong>Interest 1:</strong> {{ session['user']['interest1'] }}</p>
      <p><strong>Interest 2:</strong> {{ session['user']['interest2'] }}</p>
      <p id="interview_time"><strong>Interview Time:</strong> </p>
      
    </div>

  </div>

  <script>
    $(document).ready(function(){
      $.ajax({
        url: "/get-time",
        type: "GET",
        success: function(result){
          var start_date = result['start_date'];
          var start_time = result['start_time'];
          var days = result['days'];
          var hours = result['hours'];
          var time = result['final_time'];
          console.log(result);

          var day = Math.floor(time/hours);
          var time_slot = (time - day*hours) % hours + parseInt(start_time,10);
          var half = time_slot % 2 ? ":30" : ":00";
          if (time_slot < 24){
            var am = "AM";
            var hour = Math.floor(time_slot/2);
          } else {
            var am = "PM";
            var hour = Math.floor((time_slot - 24)/2);
          }
          var date = dayjs(start_date).add(day, 'day');

          var final = date.format('MM/DD') + " " + hour.toString(10) + half + am;

          $('#interview_time').append(final);
        },
        error: function(error){
          console.log('Error ${error}')
        }
      })
    });
  </script>


{% endblock %}